## Apache Spark basics
### Create Spark Session Local 2 cpus
### Read delimited file
### Write into MySQL Table

In [ ]:
from pyspark.sql.session import SparkSession
import os
path = f"{os.getcwd()}/../"

In [ ]:
spark = (SparkSession
            .builder
            .appName("WriteMySQL")
            #.master("local[2]") # Uncomment this if using spark local deployment mode.
            .master("spark://spark:7077") # Uncomment this if using spark standalone deployment mode.
            .config("spark.jars", f"{path}/jars/mysql-connector-j-8.0.31.jar")
            .getOrCreate())

In [ ]:
df2 = (spark
       .read
       .csv(f"{path}/data/input/words.txt",
            inferSchema=True,
            header=True,
            sep="-"))

In [ ]:
df2.printSchema()

In [ ]:
df2.show(20,False)

In [ ]:
df2.write \
    .format("jdbc") \
    .mode("overwrite") \
    .option("driver", "com.mysql.jdbc.Driver") \
    .option("url", "jdbc:mysql://mariadb:3306/data?rewriteBatchedStatements=true") \
    .option("user", "mysql") \
    .option("password", "mysql") \
    .option("dbtable", "words") \
    .save()

### Read from mysql table and show dataframe

In [ ]:
dbDf = (spark
        .read
        .format("jdbc")
        .option("url", "jdbc:mysql://mariadb:3306/data") \
        .option("query", "SELECT * FROM words") \
        .option("user", "mysql") \
        .option("password", "mysql") \
        .option("driver", "com.mysql.jdbc.Driver") \
        .load())

In [ ]:
dbDf.show()